* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: bold 20px "Coourier";
}

#main {
  width: 360px;
  height: 420px;
  background-color: aquamarine;
  margin: 100px auto;
  border: 10px solid #bfa;
  border-radius: 40px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

#main #stage {
  width: 304px;
  height: 304px;
  border: 2px solid blueviolet;
  position: relative;
}

#main #stage #snake > div {
  width: 10px;
  height: 10px;
  background-color: #FF7504;
  border: 1px solid #f3e1e1;
  position: absolute;
}

#main #stage #food {
  width: 10px;
  height: 10px;
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}

#main #stage #food > div {
  width: 4px;
  height: 4px;
  background-color: black;
  transform: rotate(45deg);
}

#main #score-panel {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
